p{
    font-family: Arial, Helvetica, sans-serif;
}
.black{
    color: black;
    font-size: x-large;
}
.grey
{
    color: grey;
    font-size: medium;
}
.second{
    color: green;
    font-size: medium;
}
.red
{
    color: red;
    font-size: medium;
}