.add-friend
{
    width: 200px;
    height: 320px;
    border: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    box-shadow: 1px 1px gray;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail2
{
    width: 200px;
    height: 200px;
}
.name
{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.mutual-friends
{
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: gray;

}
.add-friend-button
{
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(73, 73, 238);
    color: white;
    border-radius: 3px;
    border: none;
}