.all
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px rgb(197, 197, 197);
    border-color: rgb(226, 222, 222);
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div{
    font-family: Montserrat;
    font-weight: bold;
}
.number
{
    background-color: rgb(65, 65, 245);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
}
.mini
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}