.container
{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.pink
{
    background-color: pink;
    width: 100px;
}

.blue
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    background-color: aqua;
}
.first-column
{
    display: flex;
    flex-direction: column;
}
.second-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item1
{

}
.item2
{
    background-color: black;
    color: white;
}
.item3
{
    background-color: black;
    color: white;
}