.red-square
{
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 10px;
}
.green-circle
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: green;
}
.nineC
{
    margin-top: 10px;
    height: 80px;
    width: 300px;
    border: 1px;
    border-style: solid;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(211, 211, 211);

}
.text
{
    display: block;
    margin-left: 10px;
}
.yes,
.no
{
    margin-left: 10px;
    display: inline-block;
}
.nineD
{
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    height: 120px;
}
.first
{
    font-size: x-large;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}
.second
{
    font-size: medium;
    color: gray;
    padding-left: 10px;
}