.all-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;

}
.video-info-grid
{
    display: grid;
    grid-template-columns: 70px 1fr;
    width: 100%;
}

.thumbnail-div
{
    margin-bottom: 12px;
    
}
.thumbnail{
    width: 100%;
}
.profile-photo
{
    border-radius: 50%;
}
.video-info
{
    padding-left: 10px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Roboto;
}
.video-title
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}
.author,
.info
{
    font-size: 14px;
    margin-bottom: 3px;
}